{% extends "base.twig" %}

{% block navbar_title_text %}Carte des Postes Source{% endblock %}

{% block title_text %}Demo de carte autonome: A propos{% endblock %}

{% block inclusions_css %}
<!-- Bootstrap core CSS -->
<link href="{{STATIC_URL}}dist/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{STATIC_URL}}map.css" rel="stylesheet">
{% endblock %}


{% block navbar_links %}
<li><a href="{{BASE_URL}}">Carte</a></li>
<li class="active"><a href="{{BASE_URL}}about/">A propos</a></li>
<li><a href="{{BASE_URL}}contact/">Contact</a></li>
{% endblock %}

{% block container %}
<div class="row height100">
  <div class="col-md-12">
    <h2>A propos</h2>
    <p>Ceci est la deuxi&egrave;me version du livrable de d&eacute;mo issu de l&#39;étude preliminaire. </p>
    <p>
      Il s&#39;agit d&#39;une page web contenant une carte de France zoomable et navigable. Cette carte illustre les emplacements des <em>postes sources</em> ainsi que leurs <em>projets</em> et <em>transformateurs</em> associés. 
    </p>
    <p>
      Les postes sources proviennent des donn&eacute;es g&eacute;ographiques fournies par ERDF, trait&eacute;es et mises en relation avec la base de donn&eacute;es existante.
    </p>
    <p>
      Sur la page d&#39;acceuil (carte), l&#39;utilisateur s&eacute;lectionne une ann&eacute;e pour afficher les <em>postes sources</em> (repr&eacute;sent&eacute;s par des marqueurs) sur lesquels des travaux sont planifi&eacute;s cette ann&eacute;e. Uniquement les &eacute;l&eacute;ments de cette ann&eacute;e seront affich&eacute;s, les autres deviendront invisibles.
    </p>
    <p>
      L&#39;utilisateur a la possibilit&eacute; de cliquer sur les marqueurs repr&eacute;sentant les <em>postes sources</em> et ceci affichera une infobulle contenant leurs nom. Si l&#39;utilisateur d&eacute;sire davantages d&#39;informations sur le <em>poste source</em> s&eacute;lectionn&eacute;, un clic sur le <em>poste source</em> donne acc&egrave;s aux projets associ&eacute;s &agrave; ce poste. 
    </p>
    <p>
      Cette demo est programm&eacute;e pour fonctionner de fa&ccedil;on autonome sur un systeme deconnect&eacute; d&#39;internet. Impossible donc d&#39;utiliser <em>google maps</em> ou assimil&eacute;s.
    </p>
    <div class="alert alert-info" role="alert">
      <strong>Exemple d&#39;utilisation:</strong>
      <ul>
      <li>Naviguez sur la carte en zoomant ou d&eacute;pla&ccedil;ant</li>
      <li>Selectionnez un poste source (clic)</li>
      <li>Dans l&#39;infobulle qui s&#39;affiche, cliquez sur le lien</li>
      <li>Lisez les informations sur la droite. Les transformateurs ainsi que les projets devraient etre list&eacute;s</li>
      <li>Cliquez n&#39;importe-o&ugrave; sur la carte ailleurs que sur les marqueurs. La barre de droite disparaitra pour laisser place au reste de la carte.</li>
      </ul>
    </div>

    <p>
    Fonctionnalites que cette demo demontre:
    </p>
    <ul>
      <li>Traitement et incorporation des donn&eacute; g&eacute;ographiques d&#39;ERDF dans la base de donn&eacute;es.</li>
      <li>Visualisation des donn&eacute; r&eacute;elles ERDF.</li>
      <li>Carte autonome sans internet.</li>
      <li>Niveaux de zoom variables par zones</li>
      <li>Placement des marqueurs</li>
      <li>L&eacute;gende sur les marqueurs</li>
      <li>Interaction avec les marqueurs (panneau de droite)</li>
      <li>Listage des <em>postes source</em>.</li>
      <li>Listage des <em>transformateurs</em>.</li>
      <li>Compatibilit&eacute; avec des navigateurs vieux/exotiques: jusqu&#39;&agrave; Internet Explorer 9+</li>
    </ul>
  </div>        
</div>
{% endblock %}

{% block copyright_text %}Labscinet 2015{% endblock %}
{% block inclusions_js %}
<script src="{{STATIC_URL}}dist/jquery/jquery-1.11.2.min.js"></script>
<script src="{{STATIC_URL}}dist/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
