{% extends "base.twig" %}

{% block navbar_title_text %}Carte des Postes Source{% endblock %}

{% block title_text %}Demo de carte autonome: Contact{% endblock %}

{% block inclusions_css %}
<!-- Bootstrap core CSS -->
<link href="{{STATIC_URL}}dist/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<!-- Custom styles for this template -->
<link href="{{STATIC_URL}}map.css" rel="stylesheet">
{% endblock %}


{% block navbar_links %}
<li><a href="{{BASE_URL}}">Carte</a></li>
<li><a href="{{BASE_URL}}about/">A propos</a></li>
<li class="active"><a href="{{BASE_URL}}contact/">Contact</a></li>
{% endblock %}

{% block container %}
  <div class="row">
    <div class="col-md-12">
      <h2>Contact</h2>
      Vous pouvez envoyer un <a href="mailto:stanislavalo@gmail.com">email</a> &agrave; Stana.
    </div>        
</div>
{% endblock %}

{% block copyright_text %}Labscinet 2015{% endblock %}
{% block inclusions_js %}
<script src="{{STATIC_URL}}dist/jquery/jquery-1.11.2.min.js"></script>
<script src="{{STATIC_URL}}dist/bootstrap/js/bootstrap.min.js"></script>
{% endblock %}
